@font-face {
    font-family: arcade;
    src: url("../assets/fonts/ARCADE_R.TTF");
}

@font-face {
    font-family: november;
    src: url("../assets/fonts/novem___.ttf");
}

:root {
  /*--myFont: 'Press Start 2P', sans-serif;*/
    --myFont: arcade, sans-serif;
}

body {
    background-color: #F3EBF6;
    background-image: url(../assets/images/Background.png);
}

.title{
    color: #E4CFFF;
    -webkit-text-stroke: 2px #BB6BD9;
    font-family: var(--myFont);
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    margin: 0;
}

#gameTitle {
    padding: 40px;
}

.subtitle{
    color: #A661FF;
    -webkit-text-stroke: 1px white;
    font-family: var(--myFont);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    vertical-align: top;
    margin: 0;
}

.myText {
    color: #A661FF;
    -webkit-text-stroke: 1px white;
    font-family: var(--myFont);
    font-weight: bold;
}

.loginInfo {
    font-size: 12pt;
    margin: 5px;
}

.loginInfoBox {
    padding: 5px 10px;
    display: inline-block;
    background: #00000055;
    border: 2px solid white !important;
    border-radius: 5px;
    text-align: center;
}

.main {
    background-color: #F3E9FF;
    width: 500px;
    height: 400px;
    margin: 3em auto;
    border-radius: 1.5em;
    display: block;
    justify-content: space-between;
    position: relative;
}

.sign {
    color: #A661FF;
    -webkit-text-stroke: 1px white;
    font-family: var(--myFont);
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
}

.username, .email, .password {
    width: 80%;
    color: white;
    font-weight: 700;
    font-size: 30px;

    background: #D1ADFF;
    border: 4px solid white !important;
    border-radius: 20px;
    outline: none;

    /* box-sizing: border-box; */
    text-align: center;
    padding: 10px;
    margin: 5px auto 5px auto;
    font-family: var(--myFont);
}

.formSignIn{
    text-align: center;
}


.username:focus, .password:focus, .email:focus {
    border: 4px solid rgba(0, 0, 0, 0.18) !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.5; /* Firefox */
}

.button {
    width: 40%;
    cursor: pointer;
    border-radius: 5em;
    background: #BB6BD9;
    border: 0;
    outline: 0;
    font-family: var(--myFont);
    font-size: 20px;
    color: white;
    display: block;
    margin: auto;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button:active{
    background: white;
    color: #BB6BD9;
    outline: 0;
}

.signUp {
    color: #E1BEE7;
    cursor: pointer;
    font-family: var(--myFont);
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px 10px;
    border: 0;
    outline: 0;
    background: transparent;
}

a {
    text-align: center;
    color: #E1BEE7;
    text-decoration: none
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #F3E9FF;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    border-radius: 1.5em;
    text-align: center;
}

.formSignUp {
    text-align: center;
}

.formSignUp input {
    margin: 10px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.buttonsContainer{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    padding-top: 40px;
}

#games {
    flex: 40%;
    text-align: center;
}

#search {
    width: 50%;
}

#gamesList {
    width: 76%;
    color: white;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1px;
    background: #D1ADFF;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 4px solid white;
    text-align: center;
    font-family: var(--myFont);
    margin: 40px auto auto;
    list-style-type: none;
}

li{
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom:4px solid white;
}

.gameRef {
    color: white;
}

#gameCreation {
    flex: 60%;
}

#Menu {
    font-size: 50px;
    padding-bottom: 40px;
}

.formGameCreation {
    display: block;
    justify-content: space-between;
    padding-top: 20px;
}

.customizationContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.customizationTitle{
    color: #A661FF;
    -webkit-text-stroke: 1px white;
    font-family: var(--myFont);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    vertical-align: top;
    margin: 0;
}

select {
    width: 30%;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1px;
    background: #D1ADFF;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 4px solid white !important;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: var(--myFont);
    margin-left: 20px;
    text-align-last:center;
}

#countOfPlayers {
    width: 10%;
}

#create {
    width: 30%;
    cursor: pointer;
    color: #A661FF;
    -webkit-text-stroke: 1px white;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1px;
    background: #F3E9FF;
    box-sizing: border-box;
    border: 4px solid #D1ADFF;
    outline: none;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: var(--myFont);
}

#create:hover{
    background: #e4cbff;
}

#create:focus {
    background: #d6adfd;
}